/*----------------------------------------HEADER-------------------------------------------------*/
%links {
		font-size: $fontSizeL;
		line-height: 60px;
		letter-spacing: 2px;
}

header {
	width: 100%;
	border-bottom: 1px solid grey;
	
	img{

		display: block;
		width: 70%;
	}
	
	#login {
		@include linkState($unactiveColor,  $activeColor);
		@extend %links;
		float: right;
		margin: 0px;
		position: relative;
		
		left: -80px;
		top: -80px;
	}
}
	.modal-header{
		@extend %links;
		text-align: center;
	}
	.modal-footer {
		@include linkState($backgroundColor,  $backgroundColor);
	}
	